.container{
  padding-right: 0px;
  padding-left: 0px;
}

.card{
  color: white;
  background-color: #00a376;
  padding: 2em;
  margin: .2em;
  border-radius: 50%;
  text-align: center;
}

.clock{
  font-family: 'VT323', monospace;
}

.footer-contents{
  text-align: right;
}
