.container{
}

.card{
  color: white;
  background-color: #00a376;
  padding: 1em;
  margin: 1em;
  border-radius: 50%;
  text-align: center;
}

.clock{
  font-family: 'VT323', monospace;
}

.footer-contents{
  text-align: right;
}
